@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;

  --color-primary: #DFE104;
  /* Acid Yellow */
  --color-secondary: #000000;
  --color-background-light: #18181b;
  --color-background-dark: #000000;
  --color-card-bg: #09090b;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-33.33%);
  }
}

@utility animate-marquee {
  animation: marquee 20s linear infinite;
}

body {
  background-color: var(--color-background-dark);
  color: #f1f5f9;
  font-family: var(--font-sans);
}

.text-glow-primary {
  text-shadow: 0 0 10px rgba(209, 255, 26, 0.4);
}

.text-glow-secondary {
  text-shadow: 0 0 10px rgba(168, 85, 247, 0.4);
}